# Ex1 - Filtering and Sorting Data

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [ ]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep = '\t')

In [ ]:
chipo.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [ ]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [ ]:
chipo = chipo.assign(
    item_price = lambda x : x.item_price.str.replace("$","").astype(float)
)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

### Step 4. How many products cost more than $10.00?

In [ ]:
#I answered the wrong question
(chipo.item_price > 10)

0       False
1       False
2       False
3       False
4        True
        ...
4617     True
4618     True
4619     True
4620    False
4621    False
Name: item_price, Length: 4622, dtype: bool

In [ ]:
(chipo.item_price > 10).sum()

1130

In [29]:
# to answer this question
# assume a "product" is unique combinations of quantity, item_name and choice_description
unique_prod = chipo.drop_duplicates( ['quantity', 'item_name', 'item_price'])
unique_prod.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [32]:
# count the number of uniqie products with item_price > $10
unique_prod.query('item_price > 10').count()

order_id              97
quantity              97
item_name             97
choice_description    90
item_price            97
dtype: int64

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [ ]:
chipo.drop_duplicates(subset = ['item_name', 'item_price'])[['item_name', 'item_price'] ]

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4237                    Chips and Guacamole        8.50
4354                       Steak Soft Tacos       18.50
4489                    Chips and Guacamole       17.80
4509                                  Chips        1.99
4510                          Barbacoa Bowl       11.49

[209 rows x 2 columns]

In [ ]:
chipo[['item_name', 'item_price']].drop_duplicates()

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4237                    Chips and Guacamole        8.50
4354                       Steak Soft Tacos       18.50
4489                    Chips and Guacamole       17.80
4509                                  Chips        1.99
4510                          Barbacoa Bowl       11.49

[209 rows x 2 columns]

In [ ]:
chipo[['item_name', 'item_price']].value_counts().index

MultiIndex([(  'Chips and Guacamole',  4.45),
            (         'Chicken Bowl',  8.75),
            (    'Canned Soft Drink',  1.25),
            (      'Chicken Burrito',  8.75),
            (         'Chicken Bowl', 11.25),
            (                'Chips',  2.15),
            (      'Chicken Burrito', 11.25),
            (        'Bottled Water',   1.5),
            (        'Steak Burrito',  8.99),
            (        'Steak Burrito',  9.25),
            ...
            (        'Side of Chips',  5.07),
            (        'Side of Chips', 13.52),
            (    '6 Pack Soft Drink', 12.98),
            (         'Chicken Bowl', 10.58),
            (        'Barbacoa Bowl', 11.49),
            (           'Steak Bowl', 17.98),
            (           'Steak Bowl', 26.07),
            (       'Carnitas Salad',  8.99),
            ('Carnitas Crispy Tacos', 17.98),
            (    'Veggie Soft Tacos', 16.98)],
           names=['item_name', 'item_price'], length=209)

### Step 6. Sort by the name of the item

In [ ]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [ ]:
chipo.sort_values('item_name')

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [33]:
chipo.loc[chipo.item_price.idxmax(), 'quantity']

15

In [34]:
chipo.loc[chipo.item_price.idxmax()]

order_id                                      1443
quantity                                        15
item_name             Chips and Fresh Tomato Salsa
choice_description                             NaN
item_price                                   44.25
Name: 3598, dtype: object

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [ ]:
# How many orders contained a Veggie Salad Bowl
chipo.item_name.str.contains('Veggie Salad Bowl').sum()

18

In [ ]:
# How many times was a Veggie Salad Bowl ordered
chipo[chipo.item_name.str.contains('Veggie Salad Bowl')]['quantity'].sum()

18

In [ ]:
chipo.groupby('item_name').quantity.sum()['Veggie Salad Bowl']

18

### Step 9. How many times did someone order more than one Canned Soda?

In [ ]:
chipo[ (chipo.item_name == 'Canned Soda') & (chipo.quantity > 1)   ]

      order_id  quantity    item_name choice_description  item_price
18           9         2  Canned Soda           [Sprite]        2.18
51          23         2  Canned Soda     [Mountain Dew]        2.18
162         73         2  Canned Soda        [Diet Coke]        2.18
171         76         2  Canned Soda  [Diet Dr. Pepper]        2.18
350        150         2  Canned Soda        [Diet Coke]        2.18
352        151         2  Canned Soda        [Coca Cola]        2.18
698        287         2  Canned Soda        [Coca Cola]        2.18
700        288         2  Canned Soda        [Coca Cola]        2.18
909        376         2  Canned Soda     [Mountain Dew]        2.18
1091       450         2  Canned Soda       [Dr. Pepper]        2.18
1092       450         2  Canned Soda        [Coca Cola]        2.18
1944       787         2  Canned Soda       [Dr. Pepper]        2.18
2135       859         2  Canned Soda        [Diet Coke]        2.18
2235       901         4  Canned Soda           [Sprite]        4.36
2905      1156         2  Canned Soda        [Coca Cola]        2.18
2906      1156         2  Canned Soda           [Sprite]        2.18
3152      1258         2  Canned Soda       [Dr. Pepper]        2.18
3364      1349         2  Canned Soda        [Coca Cola]        2.18
3592      1440         2  Canned Soda        [Diet Coke]        2.18
3866      1550         2  Canned Soda     [Mountain Dew]        2.18

In [ ]:
chipo[ (chipo.item_name == 'Canned Soda') & (chipo.quantity > 1)   ].shape[0]

20