# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [ ]:
s1 = pd.Series(np.random.randint(1, 5, size = 100))
s2 = pd.Series(np.random.randint(1, 4, size = 100))
s3 = pd.Series(np.random.randint(10000, 30001, size = 100))

In [ ]:
np.random.randint(1, 5, size = 100)

array([1, 3, 2, 4, 1, 2, 2, 3, 3, 4, 4, 4, 4, 4, 3, 2, 3, 1, 1, 3, 2, 2,
       2, 2, 4, 1, 1, 4, 2, 1, 2, 4, 4, 1, 4, 4, 1, 1, 3, 1, 3, 1, 3, 4,
       1, 2, 3, 1, 2, 4, 4, 4, 1, 2, 2, 4, 1, 1, 4, 2, 1, 2, 4, 1, 1, 2,
       4, 3, 4, 2, 1, 1, 1, 3, 3, 3, 1, 2, 4, 4, 1, 3, 4, 2, 4, 3, 1, 1,
       2, 2, 3, 1, 1, 2, 3, 2, 2, 1, 2, 1])

### Step 3. Let's create a DataFrame by joinning the Series by column

In [ ]:
df = pd.concat([s1, s2, s3], axis=1)
df.shape

(100, 3)

In [ ]:
df.head()

   0  1      2
0  2  2  24236
1  4  1  19953
2  3  1  25552
3  4  3  24692
4  3  3  18305

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [ ]:
df.rename(columns = {0: 'bedrs', 1:'bathrs' , 2:'price_sqr_meter'}, inplace=True)
df.head()

   bedrs  bathrs  price_sqr_meter
0      2       2            24236
1      4       1            19953
2      3       1            25552
3      4       3            24692
4      3       3            18305

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [ ]:
bigcolumn = pd.DataFrame(pd.concat([s1, s2, s3], axis=0))
bigcolumn

        0
0       2
1       4
2       3
3       4
4       3
..    ...
95  23127
96  28589
97  17318
98  25438
99  29748

[300 rows x 1 columns]

### Step 6. Oops, it seems it is going only until index 99. Is it true?

Yes. 0-99 are repeated 3 times.

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [ ]:
bigcolumn.reset_index(inplace=True, drop=True)
bigcolumn

         0
0        2
1        4
2        3
3        4
4        3
..     ...
295  23127
296  28589
297  17318
298  25438
299  29748

[300 rows x 1 columns]