# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

### Step 4. See the first 10 entries

In [4]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [5]:
# Solution 1

chipo.shape[0]

4622

In [6]:
# Solution 2

len(chipo)

4622

In [7]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [8]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [9]:
chipo.columns.tolist()

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [10]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [11]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [12]:
# Need to combined item_name and quantity
print(chipo.groupby('item_name').quantity.sum().sort_values(ascending=False)[:5])
# just pick out the 'index'/item_name witht the first value from the sorted array
print("\n")
chipo.groupby('item_name').quantity.sum().sort_values(ascending=False).index[0]

item_name
Chicken Bowl           761
Chicken Burrito        591
Chips and Guacamole    506
Steak Burrito          386
Canned Soft Drink      351
Name: quantity, dtype: int64

'Chicken Bowl'

In [13]:
chipo.groupby('item_name').quantity.sum().idxmax()

'Chicken Bowl'

In [14]:
# wrong answer
#chipo.item_name.value_counts()

In [15]:
# wrong answer
# chipo.item_name.value_counts().index[0]

### Step 10. For the most-ordered item, how many items were ordered?

In [16]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [17]:
chipo.groupby('item_name').sum().max()

order_id    713926
quantity       761
dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [18]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [19]:
# need to combined choice_description with quantity. Got this wrong the first time by ignoring quantity.
chipo.groupby('choice_description').quantity.sum().idxmax()

'[Diet Coke]'

In [20]:
chipo.groupby('choice_description').quantity.sum().sort_values(ascending=False)

choice_description
[Diet Coke]                                                                                                                159
[Coke]                                                                                                                     143
[Sprite]                                                                                                                    89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                      49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]]                                                               42
                                                                                                                          ...
[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Pinto Beans, Guacamole, Lettuce]]                                       1
[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Sour Cream, Lettuce]]                                                   1
[Roasted Chili Corn Salsa, [Fajita Vegetables, Sour Cream, Lettuce, Guacamole]]                                              1
[Roasted Chili Corn Salsa, [Guacamole, Sour Cream, Rice, Fajita Vegetables, Lettuce]]                                        1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Pinto Beans, Fajita Veggies, Lettuce]]      1
Name: quantity, Length: 1043, dtype: int64

In [21]:
# wrong. ignored quantity column. 
# chipo.choice_description.value_counts()[0:1]

### Step 12. How many items were orderd in total?

In [22]:
# Unique items?
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [23]:
chipo.head(3)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39

In [24]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [25]:
# So...apply seems to apply the lambda to a single series
# while assign passes in the entire dataframe and you
# need to pick out the columns you want to modify w/individual functions (which can include lambdas. see next cell)
dollarizer = lambda x: float(x[1:-1] )
chipo.item_price = chipo.item_price.apply(dollarizer)

In [26]:
chipo.head(3)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39

In [27]:
# This works, but tried above to see if I could replicate provided solution
# the x is the entire dataframe...in this case 'chipo'
chipo = chipo.assign(
    item_price = lambda x: x.item_price.str.replace("$", "").astype(float)
)

AttributeError: ignored

In [ ]:
chipo

#### Step 13.c. Check the item price type

In [ ]:
chipo.item_price.dtype

### Step 14. How much was the revenue for the period in the dataset?

In [ ]:
chipo.quantity.multiply(chipo.item_price).sum()

In [ ]:
(chipo.quantity*chipo.item_price).sum()

### Step 15. How many orders were made in the period?

In [ ]:
chipo.order_id.nunique()

### Step 16. What is the average revenue amount per order?

In [ ]:
# Solution 1
chipo = chipo.assign(revenue = chipo.quantity*chipo.item_price)
chipo.groupby('order_id').revenue.sum().mean()

In [ ]:
# Solution 2
chipo.quantity.multiply(chipo.item_price).sum()/chipo.order_id.nunique()

### Step 17. How many different items are sold?

In [ ]:
chipo.item_name.nunique()