# Regiment

### Introduction:

Special thanks to: http://chrisalbon.com/ for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

### Step 2. Create the DataFrame with the following values:

In [ ]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Step 3. Assign it to a variable called regiment.
#### Don't forget to name each column

In [ ]:
regiment = pd.DataFrame(raw_data)
regiment.head()

     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62
4    Dragoons     1st     Cooze             3             70

In [ ]:
regiment = pd.DataFrame(raw_data, columns = raw_data.keys())
regiment.head()

     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62
4    Dragoons     1st     Cooze             3             70

### Step 4. What is the mean preTestScore from the regiment Nighthawks?

In [ ]:
regiment.groupby('regiment').preTestScore.mean()['Nighthawks']

15.25

In [ ]:
regiment.groupby('regiment').preTestScore.mean().loc['Nighthawks']

15.25

### Step 5. Present general statistics by company

In [ ]:
regiment.groupby('regiment').describe().round(2)

           preTestScore                                              \
                  count   mean    std  min   25%   50%    75%   max
regiment
Dragoons            4.0  15.50  14.15  3.0  3.75  14.0  25.75  31.0
Nighthawks          4.0  15.25  14.45  2.0  3.50  14.0  25.75  31.0
Scouts              4.0   2.50   0.58  2.0  2.00   2.5   3.00   3.0

           postTestScore
                   count  mean    std   min   25%   50%   75%   max
regiment
Dragoons             4.0  61.5  28.76  25.0  49.0  63.5  76.0  94.0
Nighthawks           4.0  59.5  28.24  25.0  49.0  59.5  70.0  94.0
Scouts               4.0  66.0   4.62  62.0  62.0  66.0  70.0  70.0

In [ ]:
regiment.groupby('regiment').describe().round(2).T

regiment             Dragoons  Nighthawks  Scouts
preTestScore  count      4.00        4.00    4.00
              mean      15.50       15.25    2.50
              std       14.15       14.45    0.58
              min        3.00        2.00    2.00
              25%        3.75        3.50    2.00
              50%       14.00       14.00    2.50
              75%       25.75       25.75    3.00
              max       31.00       31.00    3.00
postTestScore count      4.00        4.00    4.00
              mean      61.50       59.50   66.00
              std       28.76       28.24    4.62
              min       25.00       25.00   62.00
              25%       49.00       49.00   62.00
              50%       63.50       59.50   66.00
              75%       76.00       70.00   70.00
              max       94.00       94.00   70.00

### Step 6. What is the mean of each company's preTestScore?

In [ ]:
regiment.groupby('company').preTestScore.mean()

company
1st     6.666667
2nd    15.500000
Name: preTestScore, dtype: float64

In [ ]:
regiment.groupby(['regiment', 'company']).preTestScore.mean()

regiment    company
Dragoons    1st         3.5
            2nd        27.5
Nighthawks  1st        14.0
            2nd        16.5
Scouts      1st         2.5
            2nd         2.5
Name: preTestScore, dtype: float64

### Step 7. Present the mean preTestScores grouped by regiment and company

In [ ]:
regiment.groupby(['regiment', 'company']).preTestScore.mean()

regiment    company
Dragoons    1st         3.5
            2nd        27.5
Nighthawks  1st        14.0
            2nd        16.5
Scouts      1st         2.5
            2nd         2.5
Name: preTestScore, dtype: float64

### Step 8. Present the mean preTestScores grouped by regiment and company without heirarchical indexing

In [ ]:
regiment_temp = regiment.groupby(['regiment', 'company']).preTestScore.mean()
regiment_temp.head()

regiment    company
Dragoons    1st         3.5
            2nd        27.5
Nighthawks  1st        14.0
            2nd        16.5
Scouts      1st         2.5
Name: preTestScore, dtype: float64

In [ ]:
regiment_temp.index

MultiIndex([(  'Dragoons', '1st'),
            (  'Dragoons', '2nd'),
            ('Nighthawks', '1st'),
            ('Nighthawks', '2nd'),
            (    'Scouts', '1st'),
            (    'Scouts', '2nd')],
           names=['regiment', 'company'])

In [ ]:
new_index = [ '_'.join(i)    for i in regiment_temp.index]
new_index

['Dragoons_1st',
 'Dragoons_2nd',
 'Nighthawks_1st',
 'Nighthawks_2nd',
 'Scouts_1st',
 'Scouts_2nd']

In [ ]:
regiment_temp.index = new_index
regiment_temp

Dragoons_1st       3.5
Dragoons_2nd      27.5
Nighthawks_1st    14.0
Nighthawks_2nd    16.5
Scouts_1st         2.5
Scouts_2nd         2.5
Name: preTestScore, dtype: float64

In [ ]:
regiment_temp = regiment.groupby(['regiment', 'company']).preTestScore.mean()
regiment_temp.unstack()

company      1st   2nd
regiment
Dragoons     3.5  27.5
Nighthawks  14.0  16.5
Scouts       2.5   2.5

### Step 9. Group the entire dataframe by regiment and company

In [ ]:
regiment_temp = regiment
regiment_temp.head()

     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62
4    Dragoons     1st     Cooze             3             70

In [ ]:
reg_com = regiment.groupby(['regiment', 'company'])
reg_com.mean()

                    preTestScore  postTestScore
regiment   company
Dragoons   1st               3.5           47.5
           2nd              27.5           75.5
Nighthawks 1st              14.0           59.5
           2nd              16.5           59.5
Scouts     1st               2.5           66.0
           2nd               2.5           66.0

### Step 10. What is the number of observations in each regiment and company

In [ ]:
reg_com.name.count()

regiment    company
Dragoons    1st        2
            2nd        2
Nighthawks  1st        2
            2nd        2
Scouts      1st        2
            2nd        2
Name: name, dtype: int64

In [ ]:
reg_com.name.size()

regiment    company
Dragoons    1st        2
            2nd        2
Nighthawks  1st        2
            2nd        2
Scouts      1st        2
            2nd        2
Name: name, dtype: int64

### Step 11. Iterate over a group and print the name and the whole data from the regiment

In [ ]:
for i in regiment.groupby('regiment'):
  print(i, '\n')

('Dragoons',    regiment company    name  preTestScore  postTestScore
4  Dragoons     1st   Cooze             3             70
5  Dragoons     1st   Jacon             4             25
6  Dragoons     2nd  Ryaner            24             94
7  Dragoons     2nd    Sone            31             57)

('Nighthawks',      regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62)

('Scouts',    regiment company   name  preTestScore  postTestScore
8    Scouts     1st  Sloan             2             62
9    Scouts     1st  Piger             3             70
10   Scouts     2nd  Riani             2             62
11   Scouts     2nd    Ali             3             70)

In [ ]:
regiment.groupby('regiment').indices

{'Dragoons': array([4, 5, 6, 7]),
 'Nighthawks': array([0, 1, 2, 3]),
 'Scouts': array([ 8,  9, 10, 11])}

In [ ]:
for i in regiment.groupby('regiment').indices.keys():
  #print(i)
  print(regiment[regiment.regiment == i], '\n')

   regiment company    name  preTestScore  postTestScore
4  Dragoons     1st   Cooze             3             70
5  Dragoons     1st   Jacon             4             25
6  Dragoons     2nd  Ryaner            24             94
7  Dragoons     2nd    Sone            31             57

     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62

   regiment company   name  preTestScore  postTestScore
8    Scouts     1st  Sloan             2             62
9    Scouts     1st  Piger             3             70
10   Scouts     2nd  Riani             2             62
11   Scouts     2nd    Ali             3             70

In [ ]:
for i in regiment.groupby('regiment').indices.keys():
  print(i)
  print(regiment.query('regiment == @i').drop(columns = ['regiment']), '\n')

Dragoons
  company    name  preTestScore  postTestScore
4     1st   Cooze             3             70
5     1st   Jacon             4             25
6     2nd  Ryaner            24             94
7     2nd    Sone            31             57

Nighthawks
  company      name  preTestScore  postTestScore
0     1st    Miller             4             25
1     1st  Jacobson            24             94
2     2nd       Ali            31             57
3     2nd    Milner             2             62

Scouts
   company   name  preTestScore  postTestScore
8      1st  Sloan             2             62
9      1st  Piger             3             70
10     2nd  Riani             2             62
11     2nd    Ali             3             70

<span style="color:green">**THE BELOW IS INTERESTING. THE GROUPBY IS AN INTERABLE WITH THE NAME BEING THE PARTICULAR REGIMENT AND THE GROUP BEING THE ASSOCIATED GROUP PRODUCED FROM THE GROUPBY**</span>

In [ ]:
# Group the dataframe by regiment, and for each regiment,
for name, group in regiment.groupby('regiment'):
    # print the name of the regiment
    print(name)
    # print the data of that regiment
    print(group)

Dragoons
   regiment company    name  preTestScore  postTestScore
4  Dragoons     1st   Cooze             3             70
5  Dragoons     1st   Jacon             4             25
6  Dragoons     2nd  Ryaner            24             94
7  Dragoons     2nd    Sone            31             57
Nighthawks
     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62
Scouts
   regiment company   name  preTestScore  postTestScore
8    Scouts     1st  Sloan             2             62
9    Scouts     1st  Piger             3             70
10   Scouts     2nd  Riani             2             62
11   Scouts     2nd    Ali             3             70